[Unit]
Description=gunicorn daemon for Django_code
After=network.target


[Service]
User=codespace
Group=codespace
WorkingDirectory=/workspaces/Django_code/newDjango
ExecStart=/home/codespace/.python/current/bin/gunicorn \
          --chdir /workspaces/Django_code/newDjango \
          --workers 3 \
          --bind unix:/workspaces/Django_code/newDjango/gunicorn.sock \
          --log-level error \
          --access-logfile /workspaces/Django_code/newDjango/gunicorn_access.log \
          --error-logfile /workspaces/Django_code/newDjango/gunicorn_error.log \
          newsite.wsgi:application

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
